/* Navbar */
.bg-container {
    background: #5eff00;
    background: linear-gradient(0deg, rgba(94, 255, 0, 0.27) 0%, rgba(187, 45, 253, 0.28) 100%);
}

.profile-image {
    height: auto;
    max-width: 100%;
    padding-bottom: 16px;
}

.profile-name {
    font-family: 'Roboto';
    font-weight: bold;
}

.profile-desc {
    font-size: 16px;
    font-family: 'Roboto';
}

/* About */
.about-bg-container{
    background-color: white;
    border-radius: 16px;
}
.about-profile-image {
    height: auto;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}
.about-bg-container .about-link {
    background-color: grey;
    width: 100%;
    height: auto;
    border-radius: 8px;
}


/* Skill */
.skill-bg-card {
    background-color: white;
    border-radius: 16px;
}


@media (max-width: 768px) {
    .profile-image {
        display: block;
        margin: 0 auto;
    }
    .profile-name,
    .profile-desc,
    .about-bg-container {
        
        text-align: center;
    }
}