/* Navbar */
.bg-container {
    background: #5eff00;
    background: linear-gradient(0deg, rgba(94, 255, 0, 0.27) 0%, rgba(187, 45, 253, 0.28) 100%);
}

.profile-image {
    height: auto;
    max-width: 100%;
    padding-bottom: 16px;
}

.profile-name {
    font-family: 'Roboto';
    font-weight: bold;
}

.profile-desc {
    font-size: 16px;
    font-family: 'Roboto';
}

/* About */
.about-bg-container {
    background-color: white;
    border-radius: 16px;
}

.about-profile-image {
    height: auto;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

.about-bg-container .about-link {
    background-color: grey;
    width: 100%;
    height: auto;
    border-radius: 8px;
}


/* Skill */
.skill-bg-card {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    height: auto;
    /* adjust as needed */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
}
.skill-bg-card:hover {
    transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}
.skill-card-logo{
    width: 150px;
  height: 150px;
  object-fit: contain;
  color: #8b2eff;
}
.skill-card-title{
    font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* PROJECT */
.project-bg-card {
    border: 1px solid rgba(0, 0, 0, 0.5);;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    flex: 1 1 300px; /* responsive cards (min width 300px) */
    max-width: 350px;
    
}
.project-bg-card .project-banner-image {
    width: 100%; /* adjust as needed */
    background: #fff;
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: "Inter", sans-serif;
}
.project-detail {
    padding: 24px;
}
.project-category{
    font-size: 12px;
  font-weight: 600;
  color: #6b6f76;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.project-title {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
  color: #111;
}

.project-description {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.project-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 18px;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}



.project-btn .arrow {
  font-size: 16px;
  transition: transform 0.2s ease;
}

.project-btn:hover .arrow {
  transform: translateX(4px);
}

@media (max-width: 768px) {
    .profile-image {
        display: block;
        margin: 0 auto;
    }

    .profile-name,
    .profile-desc,
    .about-bg-container,
    .skill-bg-cotainer {

        text-align: center;
    }
}